<nav class="navbar navbar-expand-lg navbar-light bg-deep-green">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Coureka!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="/login">Iniciar Sesión</a>
        </li>
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="/registro">Registrarse</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="/">Inicio</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="/mis-cursos">Mis Cursos</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="/perfil">Perfil</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" (click)="logout()">Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
