<div class="container my-5">
  <div class="row justify-content-center align-items-center g-5">
    <div class="col-md-6 d-none d-md-block">
      <img src="assets/img/learn.png" alt="Imagen de Inicio de Sesión" class="img-fluid rounded" />
    </div>
    <div class="col-md-5">
      <div class="card p-4 shadow">
        <h2 class="text-center pb-3">Iniciar Sesión</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="username" class="form-label">Nombre de Usuario o Correo</label>
            <input
              type="text"
              id="username"
              class="form-control"
              formControlName="usernameOrEmail"
              [ngClass]="{ 'is-invalid': isFieldInvalid('usernameOrEmail') }"
            />
            <div *ngIf="isFieldInvalid('usernameOrEmail')" class="text-danger">
              Por favor, introduce tu usuario o correo válido.
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input
              type="password"
              id="password"
              class="form-control"
              formControlName="password"
              [ngClass]="{ 'is-invalid': isFieldInvalid('password') }"
            />
            <div *ngIf="isFieldInvalid('password')" class="text-danger">
              Por favor, introduce tu contraseña.
            </div>
          </div>
          <button type="submit" class="btn btn-enroll w-100" [disabled]="loginForm.invalid">Ingresar</button>
        </form>
        <a routerLink="/recuperar-contrasena" class="d-block mt-3 text-center">¿Olvidaste tu contraseña?</a>
      </div>
      <br />
      <div class="card p-4 shadow">
        <span class="form-label">¿Eres nuevo? <a routerLink="/registro">Regístrate</a></span>
      </div>
    </div>
  </div>
</div>